{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
<body class="animsition">
	{% include "market/header.html" %}

	<!-- Cart -->

	<!-- Slider -->
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <div style="margin-bottom: 13%;margin-top: 30%;"id="contentProduct">
        Todos los frigorificos/......
      </div>
    </div>
    </div>
  </div>



	<!-- Banner -->

	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140" id="productAnimate">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Productos
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button id="allId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="*">
						<a href="/all/">Todos los Productos</a>
					</button>

					<button id="viveresId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
						<a href="/viveres/">Viveres</a>
					</button>

					<button id="frigorificoId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter=".bag">
						<a href="/frigorifico/">Frigorifico</a>
					</button>

					<button id="enaltadoId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
						<a href="/enlatados/">Enlatados</a>
					</button>
				</div>
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>
				</div>
			</div>

			<div class="bs-docs-example">
				<div class="row isotope-grid1">
					<!-- Productos -->
					{%for value in contacts%}
	         <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
		         <div class="block2">
	             <div class="block2-pic hov-img0">
	               <img style="border-radius:60px;" src="{{direction}}{{value.name_image}}" alt="IMG-PRODUCT">
	               <!--modal=js-show-modal1 -->
	               <a href="#" style="left:25%;min-width: 10px;" data-image="{{direction}}{{value.name_image}}" data-name="{{value.name}}" data-cant="{{value.cant}}" data-price="{{value.price}}" data-id="{{value.id}}" data-description="{{value.description}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									 Detalles
	               </a>
	               <a href="#" style="left:70%;min-width:118px;" data-image="{{direction}}{{value.name_image}}" data-name="{{value.name}}" data-cant="{{value.cant}}" data-id="{{value.id}}" data-price="{{value.price}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 addModalCar" id="addItem">
									 Añadir al <i class="zmdi zmdi-shopping-cart" style="margin-left: 5px;"></i>
	               </a>
	             </div>
	             <div class="block2-txt flex-w flex-t p-t-14">
		           	<div class="block2-txt-child1 flex-col-l ">
	             		<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2">{{value.name}}</a>
	                <span class="stext-105 cl3">
	                  {{value.price}}
	                 </span>
		            </div>
		            <div class="block2-txt-child2 flex-r p-t-3">
	              	<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
		              	<img class="icon-heart1 dis-block trans-04" src="{% static "images/icons/icon-heart-01.png" %}">
		                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static "images/icons/icon-heart-02.png" %}">
	                </a>
								</div>
		           </div>
	          	</div>
	      		</div>
	    		{%endfor%}
			</div>

		  <ul style="left: 40%;position: absolute;"class="pagination pagination-sm">
				{% if contacts.has_previous %}
		    <li class="page-item">
					<!--<a class="page-link" href="?page=1">Primera</a>-->
      		<a style="margin-right: -5px;margin-top: -3px;"class="page-link" href="?page={{ contacts.previous_page_number }}">«</a>
		    </li>
				{% endif %}
				<span style="margin-left: 10px;"class="current">
      		<label style="color:#007bff;">P&aacute;gina {{ contacts.number }} de {{ contacts.paginator.num_pages }}.</label>
  			</span>
				{% if contacts.has_next %}
		    <li class="page-item">
					<a style="margin-left: 4px;margin-top: -3px;" class="page-link" href="?page={{ contacts.next_page_number }}">»</a>
      		<!--<a class="page-link" href="?page={{ contacts.paginator.num_pages }}">Ultima</a>-->
		    </li>
				{% endif %}
		  </ul>
			</div>
		</div>
	</section>

	{% include "market/footer.html" %}


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	{% include "market/modalDetails.html" %}

	<input id="miBoton" style="visibility:hidden;position:fixed;" type="button" value="Desplazar"/>
	<input id="page" style="visibility:hidden;position:fixed;" type="button" value="{{ contacts.number }}"/>

		{% include "market/scripts.html" %}

		<script>
			$(".addModalCar").on('click',function(){
				swal("¡ Añadido al Carrito !", " ", "success");
				//swal("");
			});
		</script>

	</body>
</html>
