{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
<body class="animsition" translate="no">
	{% include "market/header.html" %}
  <!-- -->
	<div id="places">
		<div class="container" style="margin-top: 160px;">
			<h4 style="text-align:center;margin-bottom: 3%;"><b>Historial de Compras</b></h4>
			<div class="row">
				<div class="col-md-2">
					<img src="/static/images/historial.png" alt="" style="margin-left:10%;margin-top: -10%;" width="110" height="120">
				</div>
				<div class="col-md-3">
						<b>Còdigo de Compra</b>
				</div>
				<div class="col-md-2">
						<b>Fecha</b>
				</div>
				<div class="col-md-1">
						<b>Total</b>
				</div>
				<div class="col-md-2">
						<b>Tipo de Pago</b>
				</div>
				<div class="col-md-2">
						<b>Estado</b>
				</div>
			</div>
			<div class="row" style="margin-bottom: 60px;">
				<div class="col-md-2">

				</div>
				{%for a in data%}
					<div class="col-md-3">
							{{a.code_purchase}}<br>
					</div>
					<div class="col-md-2">
							{{a.start_date}}<br>
					</div>
					<div class="col-md-1">
							800{{a.total}}<br>
					</div>
					<div class="col-md-2">
							{{a.payment_type}}<br>
					</div>
					<div class="col-md-2">
						{%if a.state == 1%}
							<span class="badge badge-danger">Anulada</span>
						{%elif a.state == 2%}
							<span class="badge badge-warning">Pendiente</span>
						{%else%}
							<span class="badge badge-success">Confirmada</span>
						{%endif%}
					</div>
				{%endfor%}
			</div>
	  </div>
  </div>
	{% include "market/banner.html" %}
  <!-- -->
  {% include "market/footer.html" %}
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
		{% include "market/scripts.html" %}
</body>
</html>
