{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/reset.min.css" %}">
  <link rel="stylesheet" href="{% static "css/forgot.css" %}">

<body class="animsition" translate="no">
  	{% include "market/header.html" %}
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="">
				<form class="forgot">{% csrf_token %}
					<h3 style="font-style: oblique;font-weight: 900;">Ingrese un nueva Clave {{token}}</h3><br>
					<fieldset id="forgotUser" style="">
						<img id="profile-img" class="profile-img-card" src="{%static "images/forgotfinal.png" %}" />

						<div class="input-group margin-bottom-sm" style="margin-bottom: 10px;">
   						<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
   						<input id="forgotpass1" class="form-control" type="password" placeholder="Clave" required>
 						</div>
						<div class="input-group margin-bottom-sm" style="margin-bottom: 10px;">
   						<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
   						<input id="forgotpass2" class="form-control" type="password" placeholder="Repetir la Clave" required>
 						</div>
			      <button type="submit" class="btn btn-primary btn-block btn-flat" id="forgotpassSubmit">Enviar al Correo</button>
			    </fieldset>
				</form>
			</div>
		</div>
	</div>


		{% include "market/banner.html" %}

		{% include "market/footer.html" %}

		{% include "market/scripts.html" %}

		<script src="{% static "js/codepen.js" %}"></script>
		<script src="{% static "js/forgot.js" %}"></script>




</body>
</html>
