{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style media="screen">
    #payment{
      width: 400px;
      margin: 50px auto;
      text-align: center;
      position: relative;
      top:10%;
      margin-bottom: 10%;
    }
  </style>
  <link rel="stylesheet" href="{% static "css/reset.min.css" %}">

<body class="animsition" translate="no">
	{% include "market/header.html" %}
  <!-- -->
  <div id="payment">
    Forma de Pago
  </div>
  <!-- -->
  {% include "market/footer.html" %}
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
		{% include "market/scripts.html" %}
</body>
</html>
