{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

<body class="animsition" translate="no">
	{% include "market/header.html" %}
  <!-- -->
  <div class="container" id="we" style="margin-top: 160px;">
		<h4 style="text-align:center;margin-bottom: 3%;"><b>¿Quiénes Somos?</b></h4>
		<div class="row" style="margin-bottom: 60px;">
			<div class="col-md-3">
				<img src="/static/images/quienessomos.jpg" alt="" style="margin-left:10%;margin-top: -10%;" width="190" height="150">
			</div>
			<div class="col-md-9">
				<p style="text-align: justify;"><b>Criollitos Market, C.A,</b> es una empresa de profesionales de multiples áreas, que se dedica a la atención
					y facilidad de compras de los servicios que ofrecemos, con la intención de hacerte ahorrar tiempo en colas y buscando artículos de compra
					de un lugar a otro, y no solo eso, sino que te <b>lo llevamos hasta tu casa</b>.</p>
					<div class="icon" style="margin-left:35%;">
						<img src="/static/images/delivery.png" alt="">
					</div>
			</div>
		</div>
  </div>

	{% include "market/banner.html" %}
  <!-- -->
  {% include "market/footer.html" %}
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
		{% include "market/scripts.html" %}
</body>
</html>
